body{
    background-color: aliceblue;
}

#header{
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    background-color: white;
}

#logo{
    float: left;
    margin-left: 10px;
}

#searchbar{
    float: left;
    margin-left: 10px;
}

#search{
    width: 271px;
    height: 27px;
    padding-left: 30px;
    border: 2px;
    border-color: black;
    outline: none;
    background-image: url(../img/searchbar.jpg);
}

#login{
    float: right;
    margin-right: 10px;
}

#login a{
    text-decoration: none;
}

#login-dialog{
    width: 800px;
    height: 480px;
}

#register-dialog{
    width: 800px;
    height: 500px;
}

.error{
    font-size: 12px;
    margin: 0px;
    float: left;
    color: red;
    display: block;
}

.my-post{
    width: 70px;
    height: 20px;
    top: 24px;
    right: -5px;
    position: absolute;
    color: #7070da;
    font-size: 13px;
}

/********************************section*******************************/

#section{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    /* background-color: deepskyblue; */
}

/*********************center*********************/

#center{
    width: 695px;
    height: 550px;
    float: left;
}

#nav{
    padding: 10px 0px;
    background-color: rgb(194, 201, 250);
}

#nav li{
    margin: 0px 10px;
    float: left;
    list-style: none;
}

/***********************发帖栏部分**********************/
.add-post{
    margin: 10px 0;
    padding-top: 10px;
    background-color: #bac4ea;
}

.post-head{
    width: 650px;
    margin: 0 auto;
}

.post-head-content{
    width: 640px;
    height: 25px;
    margin: 0 auto;
}

.post-body-content{
    width: 640px;
    height: 120px;
    padding: 1px;
    margin: 5px 14px;
    resize: none;
    overflow: auto;
}

.post-footer{
    padding-bottom: 5px;
    overflow: auto;
}

.post-button{
    margin: 0 10px;
    float: right;
    border-radius: 10px;
    font-size: 17px;
    color: mediumslateblue;
    background-color: aliceblue;
}

#post-cancel{
    margin-right: 20px;
}

.do-post{
    float: right;
    margin-right: 10px;
    color: #4348d6;
}

.return-post{
    float: right;
    margin-right: 10px;
}

#posts{
    height: 550px;
    margin-top: 5px;
    overflow: auto;
}

/***********************修改帖子部分*****************************/
.post-edit-infor{
    overflow: auto;
}
.do-edit-btn{
    margin: 10px 30px;
    float: right;
    display: inline-block;
    text-decoration: none;;
}

.do-edit{
    margin: 3px;
    text-decoration: none;
}

.do-delete{
    margin: 3px;
    text-decoration: none;
}

.post-edit-content{
    width: 640px;
    height: 160px;
    padding: 1px;
    margin: 5px 14px;
    resize: none;
    overflow: auto;
}

/*******************************评论栏部分***************************************/
.add-comment{
    background-color: #adc6fd;
    overflow: hidden;
}

.comment-body{
    margin-top: 15px;
}

.comment-body-content{
    width: 660px;
    height: 100px;
    padding: 1px;
    margin: 5px auto;
    display: block;
    resize: none;
    overflow: auto;
}

/********************************帖子部分**************************************/

.post{
    margin: 5px 0;
    background-color: #bbc2f9;
}

.post-title > h3{
    margin: 3px auto;
    text-align: center;
}

.post-content{
    width: 650px;
    margin: 5px auto;
}

.post-content > p{
    margin: 5px;
}

.post-infor{
    margin:10px 5px;
}

.post-avatar{
    margin-left: 20px;
    overflow: hidden;
    display: inline-block;
}

.post-avatar > img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.post-poster-name{
    font-size: 17px;
    margin-left: 10px;
    bottom: 17px;
    display: inline-block;
    position: relative;
}

.do-comment-btn{
    bottom: 22px;
    position: relative;
    display: inline-block;
}

.do-comment-btn > a{
    color: #3469ce;
}

.likes{
    top: 16px;
    float: right;
    margin-right: 20px;
    position: relative;
}

.praise{
    display: inline-block;
}

.praise > img{
    width: 25px;
    height: 25px;
}

/********************************评论部分*************************************/

.comment{
    margin: 2px 0px;
    background-color: rgb(228, 231, 255);
}

.avatar{
    width: 60px;
    height: 60px;
    float: left;
}

.avatar img{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.avatar-tooltip{
    width: 150px;
    height: 150px;
}

.comment-content{
    width: 610px;
    float: left;
    /* display: inline; */
}

.comment-title{
    width: 300px;
    height: 30px;
    overflow: hidden;
}

.do-comment{
    margin: 0 15px;
    font-size: 15px;
    text-decoration: none;
}

.reply-count{
    font-size: 80%;
    float: right;
    padding: 0px 3px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 12px;
    color: aliceblue;
    background-color: darkslateblue;
    top: 3px;
    position: relative;
}

/*******************side*********************/

#side{
    width: 295px;
    height: 450px;
    float: right;
}

/************hot-posts**********/

#hot-title{
    color: aliceblue;
    background-color: rgb(194, 201, 250);
    padding: 5px;
}

#hot-posts{
    margin-top: 3px;
    overflow: hidden;
}

.hot-post{
    margin: 2px 0px;
    background-color: rgb(228, 231, 255);
}

.hot-avatar{
    width: 40px;
    height: 40px;
    margin-top: 3px;
    float: left;
}

.hot-avatar img{
    width: 36px;
    height: 36px;
    margin: 2px;
}

.hot-content{
    width: 210px;
    height: 45px;
    float: left;
    overflow: hidden;
}

.hot-infor{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    float: right;
}

/************running-condition**********/
#running-condition{
    margin-top: 12px;
    overflow: hidden;
}

#running-title{
    margin: 2px 0px;
    padding: 3px;
    color: aliceblue;
    background-color: rgb(194, 201, 250);
}

#statistics{
    margin: 2px 0px;
    padding: 5px;
    background-color: rgb(228, 231, 255);
}

.name{
    width: 80px;
    float: left;
    margin-right: 5px;
    color: darkgrey;
    text-align: right;
}

.value{
    margin-left: 5px;
    float: left;
    font-weight: bold;
}

#scoreboard{
    margin: 2px 0px;
    background-color: rgb(228, 231, 255);
}

#scoreboard ul{
    margin: 0px;
    padding: 10px;
}

#scoreboard li{
    list-style: none;
}

#scoreboard a{
    font-size: 90%;
    color: black;
    text-decoration: none;
}

/**********************************footer*******************************/
#footer{
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    bottom: 0%;
    background-color: rgb(218, 223, 255);
}

#footer-content{
    height: 120px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

#links{
    margin-top: 10px;
    position: absolute;
}

#links ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#links li{  
    float: left;
    margin-right: 20px;

}

#copyright p{
    margin: 0;
}

#update-date{
    position: absolute;
    right: 0;
    bottom: 0%;
    /* float: right;
    margin-right: 10px; */
}

/*********************************uilities***************************/
a{
    color: black;
}

#nav a{
    color: black;
    text-decoration: none;
}

/* 由于id选择器对导航栏中的文字作了黑色处理，此处也需要加上#nav使类选择器变为id选择器提高优先级才有效果*/
#nav .current-active:hover{
    padding: 3px;
    color: aliceblue;
    background-color: rgb(53, 126, 221);
    border-radius: 4px;
}

.align-right{
    text-align: right;
}

.v-center{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.h-center{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.clear-fix{
    *zoom: 1;
}

.clear-fix::after{
    content: ".";
    display: block;
    clear: both;

    height: 0;
    visibility: hidden;
}
