<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
      <servlet-name>HelloServlet</servlet-name>
      <servlet-class>com.watermelon.bean.HelloServlet</servlet-class>    
  </servlet>

  <servlet-mapping>
      <servlet-name>HelloServlet</servlet-name>
      <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>LoginServlet</servlet-name>
      <servlet-class>com.watermelon.bean.LoginServlet</servlet-class>    
  </servlet>

  <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/exam/login</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>RegisterServlet</servlet-name>
      <servlet-class>com.watermelon.bean.RegisterServlet</servlet-class>    
  </servlet>

  <servlet-mapping>
      <servlet-name>RegisterServlet</servlet-name>
      <url-pattern>/exam/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ResetPasswordServlet</servlet-name>
      <servlet-class>com.watermelon.bean.ResetPasswordServlet</servlet-class>    
  </servlet>

  <servlet-mapping>
      <servlet-name>ResetPasswordServlet</servlet-name>
      <url-pattern>/reset</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>ExitServlet</servlet-name>
      <servlet-class>com.watermelon.bean.ExitServlet</servlet-class>    
  </servlet>

  <servlet-mapping>
      <servlet-name>ExitServlet</servlet-name>
      <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>AjaxServlet</servlet-name>
      <servlet-class>com.watermelon.bean.AjaxServlet</servlet-class>    
  </servlet>

  <servlet-mapping>
      <servlet-name>AjaxServlet</servlet-name>
      <url-pattern>/ajax</url-pattern>
  </servlet-mapping>

  <filter>
      <filter-name>EncodeFilter</filter-name>
      <filter-class>com.watermelon.filter.EncodeFilter</filter-class>
  </filter>

  <filter-mapping>
      <filter-name>EncodeFilter</filter-name>
      <url-pattern>/exam/*</url-pattern>
  </filter-mapping>

</web-app>